[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
requests = "*"
pinecone-client = "*"
tiktoken = "*"
langchain = "*"
pandas = "*"
black = "*"
isort = "*"
pycln = "*"
pre-commit = "*"
bs4 = "*"
python-dotenv = "*"
openai = "*"
lark = "*"
convex = "*"
ghapi = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
